{% extends 'core/tasks.html' %}

{% block progress %}
<h5>Avance total: {{ percent|floatformat }}%</h5>
<div class="progress mb-5">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{ percent|floatformat }}%" aria-valuenow="{{ percent|floatformat }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% endblock %}

{% block table-content %}
<thead>
    <tr>
        <th>Curso</th>
        <th class="text-center">Finalizado</th>
        <th class="text-center">Reproducciones Totales</th>
    </tr>
</thead>
<tbody id="tableInner">
    {% for topic in topics %}
        <tr>
            <td>{{ topic.topic.title }}</td>
            <td class="text-center">
                {% if topic.finished %}
                <i class="fas fa-check-circle"></i>
                {% else %}
                <i class="fas fa-times-circle"></i>
                {% endif %}
            </td>
            <td class="text-center">{{ topic.played_quantity }}</td>
        </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr>
        <th>Curso</th>
        <th class="text-center">Finalizado</th>
        <th class="text-center">Reproducciones Totales</th>
    </tr>
</tfoot>
{% endblock %}

{% block extra_js %}
    <script>
    $( document ).ready(function() {
        $('#dataTable').DataTable({
        'language': {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
    });
    </script>
{% endblock %}
