{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    {% include 'core/base_css.html' %}
</head>

<body class="bg-gradient-primary">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image"
                                 style="background-image: url({% static 'core/img/dogs/image3.jpeg' %})"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Hero</h4>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group has-feedback">
                                        <input id="id_username" type="text" name="username" autofocus required
                                               class="form-control" placeholder="Usuario">
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input id="id_password" type="password" name="password" required
                                               class="form-control" placeholder="Password">
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger">Error al ingresar, vuelve a intentarlo</div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div class="text-center"></div>
                                <div class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'core/base_js.html' %}
</body>

</html>
