{% load static %}
<link rel="stylesheet" href="{% static 'core/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="{% static 'core/fonts/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'core/fonts/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'core/fonts/fontawesome5-overrides.min.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/datatables.min.css"/>
