{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h3 class="text-dark mb-4">{{ title }}</h3>
{% block progress %}
{% endblock %}
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">{{ subtitle }}</p>
    </div>
    <div class="card-body">
        <div class="row">
        </div>
        <div class="table-responsive table mt-2" id="dataTable2" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                {% block table-content %}{% endblock %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_css %}
    <style>
        .fa-check-circle {
            color: green;
        }
        .fa-times-circle {
            color: red;
        }
    </style>
{% endblock %}
