{% extends 'core/tasks.html' %}

{% block table-content %}
    <thead>
    <tr>
        <th>Curso</th>
        <th>Estudiantes Inscritos</th>
        <th>Acciones</th>
    </tr>
</thead>
<tbody id="tableInner">
    {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.total_students }}</td>
            <td>
                <a href="{% url 'registration-students' course.id %}">
                    <button type="button" class="btn btn-primary">Ver</button>
                </a>
            </td>
        </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr>
        <th>Curso</th>
        <th>Estudiantes Inscritos</th>
        <th>Acciones</th>
    </tr>
</tfoot>
{% endblock %}

{% block extra_js %}
    <script>
    $( document ).ready(function() {
        $('#dataTable').DataTable({
        'language': {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
    });
    </script>
{% endblock %}
