{% extends 'core/tasks.html' %}
{% load static %}
{% block table-content %}
<thead>
    <tr>
        <th>Usuario</th>
        <th>Grupos</th>
        <th>Nombre del curso</th>
        <th>Fecha de inscripción</th>
        <th>Fecha de vencimiento</th>
        <th>Gratuito</th>
        <th>Inscrito</th>
    </tr>
</thead>
<tbody id="tableInner">
</tbody>
<tfoot>
    <tr>
        <th>Usuario</th>
        <th>Grupos</th>
        <th>Nombre del curso</th>
        <th>Fecha de inscripción</th>
        <th>Fecha de vencimiento</th>
        <th>Gratuito</th>
        <th>Inscrito</th>
    </tr>
</tfoot>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'core/js/tasks.js' %}"></script>
{% endblock %}

